#hm-button {
    margin-right: 20px;
}

.main-h1 {
    text-align: center;
}

/* #linkId {
    color: #fff;
    background-color: #FF6600;
    border-color: #FF6600;
    font-weight: 600;
    margin-right: 20px;
} */