::-webkit-input-placeholder {
    
    text-align: center;
}
:-moz-placeholder {
    /* Firefox 18- */
    
    text-align: center;
}
::-moz-placeholder {
    /* Firefox 19+ */
   
    text-align: center;
}
:-ms-input-placeholder {
    
    text-align: center;
}

#no-homework {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
}